<h2 class="page-header">Add Deal(s)</h2>
<div class="col-lg-12">
	<div class="well">
		<fieldset>
			<select class="form-control ng-pristine ng-valid"
				ng-model="store" ng-options="store as store for store in storeList"><option value=''>Select Store</option></select>
			<select class="form-control ng-pristine ng-valid" ng-model="category"
				ng-options="category as category for category in categoryList"><option value=''>Select Category</option></select>
			<select class="form-control ng-pristine ng-valid" ng-model="subcategory"
				ng-options="subcategory as subcategory for subcategory in subcategoryList"><option value=''>Select Sub-Category</option></select>
			<!-- <input type="text" name="store" ng-model="store" class="form-control"
				placeholder="Store" /> <input type="text" name="category"
				ng-model="category" class="form-control" placeholder="Category" /> 
			<input type="text" name="subcategory" ng-model="subcategory"
				class="form-control" placeholder="Sub-category" /> -->
			<input
				type="text" name="item" ng-model="item" class="form-control"
				placeholder="Item" /> 
			<input type="text" name="earlybird"
				ng-model="earlybird" class="form-control" placeholder="Early-Bird" />
			<input type="text" name="Rebate" ng-model="rebate"
				class="form-control" placeholder="rebate" /> 
				<input type="text" name="ImageUrl" ng-model="imgurl"
				class="form-control" placeholder="Image Url" /> 
				<input type="text" name="ProductUrl" ng-model="producturl"
				class="form-control" placeholder="Product Url" /> 
			<input type="text"
				name="price" ng-model="price" class="form-control"
				placeholder="Price" /> <br />
			<button type="button" class="btn btn-primary" ng-click="addDeal()">Add
				Deal</button>
		</fieldset>
		<br />
		<table class="table" cellpadding="10">
			<thead>
				<tr>
					<th class="info" style="text-align: center">Image</th>
					<th class="info" style="text-align: center">Store</th>
					<th class="info" style="text-align: center">Category</th>
					<th class="info" style="text-align: center">Sub-Category</th>
					<th class="info" style="text-align: center">Early Bird</th>
					<th class="info" style="text-align: center">Rebate</th>
					<th class="info" style="text-align: center">Product</th>
					<th class="info" style="text-align: center">Price ($)</th>
					<th class="info" style="text-align: center">Remove Deal</th>
				</tr>
			</thead>

			<tr ng-repeat="deal in deals">
				<td><img ng-src="{{deal.img_url}}" height="100" width="100"/></td>
				<td style="text-align: center">{{ deal.store }}</td>
				<td style="text-align: center">{{ deal.category }}</td>
				<td style="text-align: center">{{ deal.sub_category }}</td>
				<td style="text-align: center">{{ deal.early_bird }}</td>
				<td style="text-align: center">{{ deal.rebate }}</td>
				<td><a href="{{deal.product_url}}" target="_blank">{{deal.item}}</a></td>
				<td style="text-align: center">{{ deal.price }}</td>
				<td style="text-align: center">
					<button type="button" class="btn btn-danger"
						ng-click="removeDeal($index)">-</button>
				</td>
			</tr>
			</body>
		</table>
	</div>
</div>